@model IEnumerable<DomainModel.Models.AssetModels.DeliveryItem>
@using Sentinel.Grid;
@using Sentinel.Helpers.ExtensionMethods;

@{
    var grid = new ASPRazorWebGrid(source: Model);
    grid.UsePostBack = false;
}

<script type="text/javascript">
    $(function () {
        $('.btn-unassign').on('click', function () {
            var itemKey = $(this).attr('value');
            $.post('../AssetManagement/GetUnAssignDeliveryItemPartial', { strDeliveryItemKey: itemKey }, function (data) {
                $('#div-consignments-grid').after(data);
            });
        });
    });
</script>

<div id="div-items-grid">
    @grid.GetHtml(columns: new ASPRazorWebGridColumn[]
                        {
                            grid.CreateColumn(width: "13px", itemHorizontalAlignment: "center", dataFieldFormat: @<text> <input type="checkbox" value="@item.DeliveryItemKey" /> </text>),
                            grid.CreateColumn(headerText: "Recipient Name", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientFirstName @item.RecipientLastName </text>),
                            grid.CreateColumn(headerText: "Recipient Address", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientAddress  </text>),
                            grid.CreateColumn(headerText: "Recipient Town", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientTown </text>),
                            grid.CreateColumn(headerText: "Recipient Post Code", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientPostCode </text>),
                        },
                  pager: new Pager { Alignment = PagerAlign.Center, TotalRows = ViewBag.GridRecordCount, RowsPerPage = 5, CssClass = "pager" },
                  tableStyle: "table",
                  headerStyle: "head",
                  alternatingRowStyle: "alt")
</div>
