@model IEnumerable<DomainModel.Models.GISModels.HistoricalGeospatialInformation>



<script type="text/javascript">

    $(function () {
        var pos = new google.maps.LatLng('@Model.First().PeriodGeographicData.First().Latitude', '@Model.First().PeriodGeographicData.First().Longitude');

        var mapOpts = {
            zoom: 13,
            center: pos,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOpts);

        @foreach (var period in Model)
        {
            <text> 
                var path = [];
            </text>
            
            foreach (var dataItem in period.PeriodGeographicData)
            {
                <text>
                    var latlng = new google.maps.LatLng('@dataItem.Latitude', '@dataItem.Longitude');
                    path.push(latlng);
                </text> 
            }
            
            <text>
            var hex = getHex();

            $('#key').append('<span style="background-color:' + hex + ';width:10px;height:10px;display:inline-block"></span> = <a id="@period.HistoricalSessionID" class="btnFilter" href="#">@period.HistoricalSessionID - @period.Period.ToShortDateString()</a><br />');

            poly = new google.maps.Polyline({
                path: path,
                strokeColor: hex,
                strokeOpacity: 1.0,
                strokeWeight: 3
            });

            poly.setMap(map);
            </text>
        }

        $('.btnFilter').on('click', function () {
            var id = $(this).attr('id');
            var key = '@Model.First().DriverKey.ToString()';

            $.post('GetFilteredHistoricalData', { strDriverKey: key, iSessionID: id }, function (data) {
                $('#tracking').replaceWith(data);
            });
        });
    });

    function selectDriver() {
        $.ajax({
            url: 'GetAllDriversForDriverSelect',
            success: function (data) {
                $('#tracking').append(data);
            }
        });
    }
</script>

<section id="tracking">
    <div id="map">
    </div>
    <div id="key">

    </div>

    @Html.Action("AllHistoricalPageDataPageActions")
</section>