@model DomainModel.SecurityModels.User

<script type="text/javascript">

    $(function () {

        $('#dialog').dialog({
            autoOpen: true,
            resizable: false,
            draggable: false,
            modal: true,
            title: "Driver Contact Details",
            close: function () {
                $(this).dialog("destroy");
            }
        });
    });

</script>

<div id="dialog" style="display:none">
    <div>
        <p>Name: @Html.DisplayFor(u => u.FirstName) @Html.DisplayFor(u => u.LastName)</p>
        <p>Contact Number: @Html.DisplayFor(u => u.UserContactNumber)</p>
        <p>Assigned Vehicle: @Html.DisplayFor(u => u.UserAssignedVehicle.VehicleManufacturer) @Html.DisplayFor(u => u.UserAssignedVehicle.VehicleModel) </p>
        <p>Year: @Html.DisplayFor(u => u.UserAssignedVehicle.VehicleYear)</p>
        <p>Registration: @Html.DisplayFor(u => u.UserAssignedVehicle.VehicleRegistration)</p>
        <p>Colour: @Html.DisplayFor(u => u.UserAssignedVehicle.VehicleColour)</p>
    </div>
</div>

