@model IEnumerable<DomainModel.Models.AssetModels.AssignedDeliveryItem>
@using Sentinel.Grid;
@using Sentinel.Helpers.ExtensionMethods;

@{
    var grid = new ASPRazorWebGrid(source: Model);
    grid.UsePostBack = false;
}

<script type="text/javascript">
    $(function () {

        var consignmentKey = '@Model.First().ConsignmentKey.ToString()';

        $('#btnAssignItems').on('click', function () {
            $.post('../AssetManagement/GetAssignDeliveryItemPartial', { strConsignmentKey: consignmentKey }, function (data) {
                $('#items-grid').after(data);
            });
        });

        $('#btnUnassignItems').on('click', function () {
            
            var keys = new Array();
            $('.keys:checked').each(function () {
                keys.push($(this).val());
            });

            $.post('../AssetManagement/GetUnAssignDeliveryItemPartial', { strDeliveryItemKeys: keys.toString()}, function (data) {
                $('#items-grid').after(data);
            });
        });
    });
</script>

<section id="items-grid">
    @grid.GetHtml(columns: new ASPRazorWebGridColumn[]
                        {
                            grid.CreateColumn(width: "13px", itemHorizontalAlignment: "center", dataFieldFormat: @<text> <input class="keys" type="checkbox" value="@item.DeliveryItemKey" /> </text>),
                            grid.CreateColumn(headerText: "Recipient Name", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientFirstName @item.RecipientLastName </text>),
                            grid.CreateColumn(headerText: "Recipient Address", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientAddress  </text>),
                            grid.CreateColumn(headerText: "Recipient Town", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientTown </text>),
                            grid.CreateColumn(headerText: "Recipient Post Code", headerHorizontalAlignment: "center", dataFieldFormat: @<text> @item.RecipientPostCode </text>),
                        },
                  pager: new Pager { Alignment = PagerAlign.Center, TotalRows = ViewBag.GridRecordCount, RowsPerPage = 20, CssClass = "pager" },
                  tableStyle: "table",
                  headerStyle: "head",
                  alternatingRowStyle: "alt")

    @Html.Action("DeliveryItemsGridActions")

</section>