@model Sentinel.Models.UserViewModel

<div id="div-menu">
    <table id="tbl-menu">
        <tr>
            <td id="td-menu-left">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/images/img-logo.png")" />
                </a>
            </td>
            <td id="td-menu-right">
                @(Model != null ? "Welcome: " + Model.UserName : "You are not logged in")
                <br />
                @(Model != null ? "Last Logged In: " + @Model.DateLastLoggedIn : "")
                <br />
                @Html.ActionLink("Logout", "Logout", "Account")
            </td>
        </tr>
    </table>
</div>