@{
    Layout = null;
    ViewBag.Title = "Error";
}

@model Exception
<!DOCTYPE html>

<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.0.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/jquery-ui-1.10.0.custom.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/v1_master.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/v1_header.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <script type="text/javascript">
        $(function () {
            $("input[type=button]").each(function () {
                $(this).button();
            });
        });
    </script>
    <section id="top">
        <div id="div-menu">
            <table id="tbl-menu">
                <tr>
                    <td id="td-menu-left">
                        <img src="@Url.Content("~/Content/images/img-logo.png")" />
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section id="content" style="margin-top: 2em">
        <section id="main" class="error">
            <div id="error-body">
                <span>
                    Sentinel has encountered a problem.
                </span>
                <br />
                <br />
                <span>
                    The error has been logged.
                </span>
                <br />
                <br />
                @if (User.IsInRole("ARCHITECT"))
                {
                    <span>
                        @Model.Message
                    </span>
                }
                <br />
                <br />
                <input value="Back" type="button" onclick="javascript: window.history.back()" />

                @if (null != DomainModel.Models.AuditModels.State.User)
                {
                    <input type="button" onclick="javascript: window.location.href = '/Sentinel/Home/Index'" value="Home" />
                }

            </div>
        </section>
    </section>
</body>
</html>
