@model DomainModel.Models.GIS
           
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=en&key=AIzaSyBwj3Xpcnn2FB0zuqe8T4Zs3sxAtozOXNw"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Views/Monitor.js")"></script>

<script type="text/javascript">
    
    var arrGISInfo = new Array();
    var gis = [@Model.Latitude, @Model.Longitude, "@Model.TimeStamp.ToShortDateString()", "@Model.TimeStamp.ToShortTimeString()", @Model.Speed, @Model.Orientation];
    arrGISInfo.push(gis);

    Monitor.Init(@Model.Latitude, @Model.Longitude, arrGISInfo);
</script>

<div id="map-container">
    <div id="map">
    </div>

    <div id="map-controls">
        <input type="button" value="Show Route Info" id="btn-show-route" />
        <input type="button" value="Show Heatmap Overlay" id="btn-show-heatmap" />
        <input type="button" value="Hide Heatmap Overlay" id="btn-hide-heatmap" style="display: none"/>
    </div>
</div>