@model DomainModel.Models.GISModels.HistoricalGeospatialInformation

<script type="text/javascript">

    function showAllHistoricalData() {

        var key = '@Model.DriverKey.ToString()';

            $.post('GetAllHistoricalDataByDriverKey', { strDriverKey: key }, function (data) {
                $('#tracking').replaceWith(data);
            });
    }

    var poly;

    $(function () {

        // Create a LatLng object to set to the center
        var pos = new google.maps.LatLng('@Model.PeriodGeographicData.First().Latitude', '@Model.PeriodGeographicData.First().Longitude');

        // Create an array of Map options
        var mapOpts = {
            zoom: 13,
            center: pos,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOpts);
        var path = [];
                      
            @foreach (var dataItem in Model.PeriodGeographicData)
            {
                <text>
                    var latlng = new google.maps.LatLng('@dataItem.Latitude', '@dataItem.Longitude');
                    path.push(latlng);
                </text> 
            }
           
        var lineSymbol = {
            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
            scale: 3,
            strokeColor: '#CC0000'
        };

        // Setup Polylines
        poly = new google.maps.Polyline({
            path: path,
            strokeColor: '#000000',
            strokeOpacity: 1.0,
            icons: [{
                icon: lineSymbol,
                offset: '0'
            }]
        });

        poly.setMap(map);
    });

    function animateCircle() {
        var count = 0;
        offsetId = window.setInterval(function () {
            count = (count + 1) % 200;

            var icons = poly.get('icons');
            icons[0].offset = (count / 2) + '%';
            poly.set('icons', icons);
        }, 50);
    }

    window.setTimeout(animateCircle, 1000);
</script>

<section id="tracking">
    <div id="map">
    </div>

    @Html.Action("FilteredHistoricalPageDataPageActions")
</section>
