@model IEnumerable<DomainModel.Models.GISModels.GeospatialInformation>
<script src="@Url.Content("~/Scripts/jquery.signalR-1.0.0-rc1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

<script type="text/javascript">

    $(function () {
        // Create a LatLng object to set to the center
        var pos = new google.maps.LatLng('@Model.First().Latitude', '@Model.First().Longitude');

        // Create an array of Map options
        var mapOpts = {
            zoom: 13,
            center: pos,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOpts);

        var path = [];

        @{
            foreach (var info in Model)
            {
                <text>
                    var latlng = new google.maps.LatLng('@info.Latitude', '@info.Longitude');
                    path.push(latlng);

                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: '@info.Latitude, @info.Longitude'
                    });

                </text>
            }
        }

        var hex = getHex();

        poly = new google.maps.Polyline({
            path: path,
            strokeColor: hex,
            strokeOpacity: 1.0,
            strokeWeight: 3
        });

        poly.setMap(map);

        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: "Current Position",
            icons: [{
                icon: {
                    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                    strokeColor: 'black',
                    strokeOpacity: 1.0,
                    strokeWeight: 1.0,
                    fillColor: 'yellow',
                    fillOpacity: 1.0,
                    scale: 4
                }
            }]
        });

        var gisInfo =
                '<div id="gis-info">' +
                    '<span>Date: @Model.First().TimeStamp.ToShortDateString() </span> <br/>' +
                    '<span>Time: @Model.First().TimeStamp.ToShortTimeString() <br />' +
                    '<span>Speed: @Model.First().Speed </span> <br />' +
                    '<span>Orientation: @Model.First().Orientation <span>' +
                '</div>';

        var infoWindow = new google.maps.InfoWindow({
            content: gisInfo
        });

        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.open(map, marker);
        });

        //Create SignalR object to get communicate with server
        var sentinelHub = $.connection.sentinelHub;

        $.connection.hub.start().done(function () {
            sentinelHub.server.addGroup('@Model.First().DriverKey.ToString()');
        });

        sentinelHub.client.getUpdatedMap = function () {
            $.ajax({
                url: 'GetLiveElapsedRoute',
                data: { strDriverKey: '@Model.First().DriverKey' },
                success: function (data) {
                    $('#tracking').replaceWith(data);
                }
            });
        };
    });

    function showSingleMarker() {
        $.ajax({
            url: 'GetLiveUpdateByDriverKey',
            data: { strDriverKey: '@Model.First().DriverKey' },
            success: function (data) {
                $('#tracking').replaceWith(data);
            }
        });
    }

</script>

<section id="tracking" class="historical-tracking">
    <div id="map">
    </div>
    @Html.Action("LiveElapsedTrackingDriverFeedPageActions")
</section>

