<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.custom.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Views/Heatmap.js")" type="text/javascript"></script>

        <link href="@Url.Content("~/Content/jquery-ui-1.9.0.custom.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/v1_master.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/v1_menu.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/v1_header.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/v1_monitor.css")" rel="stylesheet" type="text/css" />


    </head>
    <body>
        <section id="top">
            @Html.Action("Index", "Header")
        </section>

        <section id="menu">
            @Html.Action("Index", "Menu")
        </section>
            
        <section id="main">
            @RenderBody()
        </section>

        <section id="updates-window">
            <div id="updates-window-header">
                <span class="span-updates">Real-Time Monitor</span>
            </div>
            <div id="events-list">
                <span class="ui-icon ui-icon-alert event-icon severe"></span> <span class="event-msg severe"> severe event message!</span>
                <br />
                <span class="ui-icon ui-icon-alert event-icon caution"></span> <span class="event-msg caution"> cautonary event message!</span>
                <br />
                <span class="ui-icon ui-icon-alert event-icon normal"></span> <span class="event-msg normal"> normal event message!</span>
            </div>
        </section>
    </body>
</html>
